#textblock{
    width: 200px;
    height: 40px;
    background: bisque;
}
#array{
    width: 400px;
    height: 800px;
    background: bisque;
}
#maxblock{
    width: 200px;
    height: 40px;
    background: bisque;
}